nav{
  display: flex;
  justify-content: space-between;

  .logo{
    background:  url("../images/coffee-cup.svg") center no-repeat;

    width: 60px;
    height: 60px;

    display: block;
  }

  .btn-menu{
    display: none;
  }

  ul{
    display: flex;

    list-style: none;
    padding: 0;

    a{
      padding: rem(12); //12px
    }

    li.retour{
      display: none;
    }
  }
}